-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= javascript_include_tag "/javascripts/jquery.cross-slide.min.js"

#thumbnails.span-18.last
  #slideshow
  %script
    $(function() {
    $('#slideshow').crossSlide({
    sleep: 2,
    fade: 1,
    variant: true,
    easing: 'easeInOutQuad'
    }, [
    - for photo in photos
      { src: '#{photo.url(:scaled_full)}' },
    { src: '/images/stars-small.png' }
    ])
    });